Read in character dialgoue file and look at columns.

In [16]:
#https://towardsdatascience.com/multi-class-text-classification-with-scikit-learn-12f1e60e0a9f
import pandas as pd
df = pd.read_csv('rev_dialogue.csv' )
df.head()

,Unnamed: 0,current_character,current_dialogue
0,1,FITZGERALD,Likely got a splinter. Can't figure what to do...
1,2,BOONE,"Need a doc, Captain?"
2,3,HENRY,Gather more wood.
3,4,FITZGERALD,Shame my Pap was a broken down drunk. Else he ...
4,5,FITZGERALD,"We got a plan for these fires, Captain, or are..."

Set only necessary columns from file.

In [17]:
from io import StringIO
col=['current_character','current_dialogue']
df=df[col]
df.head()

,current_character,current_dialogue
0,FITZGERALD,Likely got a splinter. Can't figure what to do...
1,BOONE,"Need a doc, Captain?"
2,HENRY,Gather more wood.
3,FITZGERALD,Shame my Pap was a broken down drunk. Else he ...
4,FITZGERALD,"We got a plan for these fires, Captain, or are..."

Remove any null values and trim away whitespace issues.

In [18]:
df=df[pd.notnull(df["current_character"])]
df=df[pd.notnull(df["current_dialogue"])]
df["current_character"]=df["current_character"].str.strip()
df["current_dialogue"]=df["current_dialogue"].str.strip()
df.head()

  current_character                                   current_dialogue
0        FITZGERALD  Likely got a splinter. Can't figure what to do...
1             BOONE                               Need a doc, Captain?
2             HENRY                                  Gather more wood.
3        FITZGERALD  Shame my Pap was a broken down drunk. Else he ...
4        FITZGERALD  We got a plan for these fires, Captain, or are...

Factorize the target column

In [19]:
df['category_id'] = df['current_character'].factorize()[0]
df.head(10)

,current_character,current_dialogue,category_id
0,FITZGERALD,Likely got a splinter. Can't figure what to do...,0
1,BOONE,"Need a doc, Captain?",1
2,HENRY,Gather more wood.,2
3,FITZGERALD,Shame my Pap was a broken down drunk. Else he ...,0
4,FITZGERALD,"We got a plan for these fires, Captain, or are...",0
5,HENRY,Glass and the others will be back with some ga...,2
6,FITZGERALD,"My supper's in the hands of a hermit nigger, a...",0
7,VOICE,"Shit fire, you got him, Mr. Glass!",3
8,PIG,Square as a barn door.,4
9,PIG,Right where you said he'd be.,4

Create a lookup table (category id)

In [20]:
category_id_df = df[['current_character', 'category_id']].drop_duplicates().sort_values('category_id')
category_id_df.head()

  current_character  category_id
0        FITZGERALD            0
1             BOONE            1
2             HENRY            2
7             VOICE            3
8               PIG            4

Create dictionaries for category

In [23]:
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'current_character']].values)
category_to_id
id_to_category

{0: 'FITZGERALD',
 1: 'BOONE',
 2: 'HENRY',
 3: 'VOICE',
 4: 'PIG',
 5: 'BRIDGER',
 6: 'GLASS',
 7: 'TRAPPER',
 8: 'ANDERSON',
 9: 'STUBBY BILL',
 10: 'MURPHY',
 11: 'ANSWER ME OR I BLOW YOUR DAMN HEAD',
 12: 'SPOTTED HORSE',
 13: "LEATHER STRAPS SNAPPING AROUND GLASS' WRISTS AND ANKLES...",
 14: 'BOYS',
 15: 'RED HAWK',
 16: 'THREE FEATHERS',
 17: 'BRAZEAU',
 18: 'RUNTY MAN',
 19: 'TRAPPER #2',
 20: 'FAT TRAPPER',
 21: 'TRAPPER #1'}